*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    color: white;
    width: 100%;
    height: 200px;
    background-image: url(./assets/background/galaxieTest2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0px 20px 40px;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    margin: 30px;
}
.list{
    display: flex;
    margin: 10px 10px;
    color: white;
}
main{
    background-color: whitesmoke;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc{
    width: 80vh;
    height: 500px;
    background-color: white;
    padding: 30px;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.35);}
.form2{
    height: 400px;
    width: 100%;
}
.form2{
    display: flex;
    justify-content: space-around;    
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
}
.titleForm{
    font-size: 1,5em;
    margin: 0px;
}
.label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.info{
    border-radius: 3px;
    width: 200%;
    margin: 5% 0px 5%;
    border-color: whitesmoke;
    border: solid 1px rgb(223, 223, 223);
}
.message{
    border-radius: 7px;
    width: 200%;
    height: 30vh;
    border-color: whitesmoke;
    border: solid 1px rgb(223, 223, 223);
    text-
}
button{
    background-color: navy;
    border-radius: 20px;
    padding: 10px 25px;
    color:white;
}
button:hover{
    background-color: black;
}
button:active{
    background-color: whitesmoke;
    border: solid 0px whitesmoke;
}
footer{
    width: 205vh;
    height: 30vh;
    background-color: whitesmoke;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0,5rem;
    color: rgb(162, 162, 162);
    padding: 30px;
}
